<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-chat.css" />
    <title>{{emoji}}</title>
  </head>
  <body>
    <div class="grid-container">
      <header id="header" class="header">The {{emotion}} Chatroom</header>
      <ul id="messages" class="chats"></ul>
      <form id="form" class="form">
        <input
          type="text"
          id="input"
          placeholder="Type your message here"
          autocomplete="off"
        />
        <button type="submit">Send</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      //Create a clientInfo json object that contains the room and the username
      var clientInfo = {
        room: "{{emotion}}",
        id: null,
      };

      socket.on("connect", function () {
        socket.emit("join", clientInfo);
        clientInfo.id = socket.id;
      });

      socket.on("chat message", function (msg) {
        //Parse the message to a json object
        msg = JSON.parse(msg);
        var item = document.createElement("li");
        var stamp = document.createElement("div");
        //Append to class name to allow for styling
        item.classList.add("chat-bubble");
        stamp.classList.add("stamp");

        //Add text to the chat bubble
        item.textContent = msg.message;

        //Add the time stamp to the chat bubble
        stamp.textContent = `${msg.id} - ${msg.time}`;

        //Append the time stamp to the chat bubble
        item.appendChild(stamp);

        if (msg.id == clientInfo.id) {
          item.classList.add("self");
          stamp.classList.add("self");
        } else {
          item.classList.add("other");
          stamp.classList.add("other");
        }
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      var form = document.getElementById("form");
      var input = document.getElementById("input");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          // Create a new messageJson object
          var messageJson = {
            room: "{{emotion}}",
            message: input.value,
          };
          socket.emit("chat message", messageJson);
          input.value = "";
        }
      });
    </script>
  </body>
</html>
