<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-dashboard.css" />
    <title>Moods</title>
  </head>

  <body>
    <div class="grid-container">
      <div class="top-header">
        <h1 data-value="MoodChat">
          {{happinessEmoji}} MoodChat {{happinessEmoji}}
        </h1>
      </div>
      <div class="greeting">
        <p>{{greeting}}</p>
        <form action="/chat/{{emotion}}" method="get">
          <button type="submit">
            Join other people who share the same emotion!
          </button>
        </form>
      </div>
      <div class="map">
        <h2>How are other poeple feeling today?</h1>
          <h3>This is still a work in progres...</h3>
      </div>
    </div>
    <script></script>
  </body>
</html>
