<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Big Title</h1>
      <div class="subtitle">Subtitle</div>
      <div class="input-container">
        <input type="text" placeholder="Enter your input" />
      </div>
      <button class="submit-button">Submit</button>
    </div>
  </body>
</html>
